{% extends 'layout.html' %} {% block contenido %}

<div class="row">
  <div class="col-md-5">
    {% include('partials/_messageFlash.html') %} {%
    include('partials/_contactForm.html') %}
  </div>

  <div class="col-md-7">
    <div>
      {% for contact in contacts %}
      <div class="card mb-1 text-white bg-dark">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <h5>{{ contact.fullname }}</h5>
            <div>
              <a
                href="{{ url_for('contacts.update',id=contact.id) }}"
                class="btn bg-black text-white btn-sm rounded-0"
                >Update</a
              >
              <a
                href="{{ url_for('contacts.delete',id=contact.id)}}"
                class="btn btn-danger btn-sm rounded-0"
                >Delete</a
              >
            </div>
          </div>
          <p>{{ contact.email }}</p>
          <p>{{ contact.phone }}</p>
        </div>
      </div>

      {% endfor%}
    </div>
  </div>
</div>

{% endblock %}
